
.App-header {
  margin: 30px 0;
}

footer {
  text-align: center;
}

body {
  background: #EFCFD4;
}

a {
  color: #E18AAA;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Cantarell', sans-serif;
}